@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
}

$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(218, 83, 255);
$font-family: 'Fragment Mono', monospace;
$transition-time: 0.4s;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Frontline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url('../images/8d.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    height: auto;
  }
}

.Artists {
  flex: 6;
  display: flex;
  margin-top: 10rem;
  justify-content: center;

  @media only screen and (max-width: 768px) {
    order: 2;
    margin-top: 1rem;
    size: 20rem;
  }
}

.art {
  max-width: 100%;
  height: auto;
  margin-top: 10rem;
  animation: slideInLeft 1s ease;
  transition: transform $transition-time ease-in-out;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.main-container {
  flex: 2;
  padding: 2rem;

  @media only screen and (max-width: 768px) {
    order: 1;
    padding: 1rem;
  }
}

.Intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $primary-color;
  letter-spacing: 0.5em;
  font-size: 2rem;
  font-family: $font-family;
  font-weight: bolder;
  margin-bottom: 2rem;
  text-align: center;

  span {
    @include flex-center;
    margin: 0.5rem;
    line-height: 1;
    animation: fadeIn 2s ease;

    &:nth-child(2) {
      transform: translateY(-50%);
    }
  }

  @media only screen and (max-width: 768px) {
    font-size: 1.5rem;
    flex-direction: column;
    color: black;
    margin-top: 35rem;
    margin-bottom: 1rem;

    span {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn-get {
  @include flex-center;
  margin-top: 2rem;

  @media only screen and (max-width: 768px) {
    margin-top: 1rem;
  }
}

.btn-exp {
  color: $primary-color;
  font-family: $font-family;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 1px;
  background-color: $secondary-color;
  box-shadow: 5px 5px 10px;
  cursor: pointer;
  border-radius: 2em;
  border-style: none;
  transition: transform $transition-time ease-in-out;
  padding: 1rem 2rem;
  height: 4rem;

  &:hover {
    transform: scale(1.1);
  }

  @media only screen and (max-width: 768px) {
    font-size: 1.5rem;
    padding: 1rem;
    height: 3rem;
  }
}
