@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
}

.Frontline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url('../images/8d.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.Artists {
  flex: 6;
  display: flex;
  margin-top: 10rem;
  justify-content: center;
}

.art {
  max-width: 100%;
  height: auto;
  margin-top: 10rem;
  animation: slideInLeft 1s ease;
  transition: transform 0.4s ease-in-out;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.main-container {
  flex: 2;
  padding: 2rem;
}

.Intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  letter-spacing: 0.5em;
  font-size: 2rem;
  font-family: 'Fragment Mono', monospace;
  font-weight: bolder;
  margin-bottom: 2rem;
  text-align: center;
}

.Intro span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  line-height: 1;
  animation: fadeIn 2s ease;
}

.Intro span:nth-child(2) {
  transform: translateY(-50%);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn-get {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.btn-exp {
  color: rgb(255, 255, 255);
  font-family: 'Fragment Mono', monospace;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 1px;
  background-color: rgb(218, 83, 255);
  box-shadow: 5px 5px 10px;
  cursor: pointer;
  border-radius: 2em;
  border-style: none;
  transition: transform 0.4s ease-in-out;
  padding: 1rem 2rem;
  height: 4rem;
}

.btn-exp:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  .Frontline {
    flex-direction: column;
    height: auto;
  }

  .Artists {
    order: 2;
    margin-top: 1rem;
    size: 20rem;
  }

  .main-container {
    order: 1;
    padding: 1rem;
  }

  .Intro {
    font-size: 1.5rem;
    flex-direction: column;
    color: black;
    margin-top: 35rem;
    margin-bottom: 1rem;
  }

  .Intro span {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .btn-get {
    margin-top: 1rem;
  }

  .btn-exp {
    font-size: 1.5rem;
    padding: 1rem;
    height: 3rem;
  }
}
