#rec-mic {
  color: rgb(255, 255, 255);
  background: #e2711d;
  width: 15rem;
  font-size: 1.3rem;
  border-radius: 1.5rem;
  position: relative;
  line-height: 2;
  cursor: pointer;
}

#rec-mic:focus {
  background: #cc5803;
}
