.Workline {
  height: 100vh;
  background-color: #f4f4f4;
  background-image: url('../images/working1.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .Work-Container {
    max-width: 800px;
    width: 90%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 50px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.8);

    .drop-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      h2 {
        color: #d1722a;
      }

      #rec-mic {
        color: rgb(255, 255, 255);
        background: #e2711d;
        width: 15rem;
        font-size: 1.3rem;
        border-radius: 1.5rem;
        position: relative;
        line-height: 2;
        cursor: pointer;

        &:focus {
          background: #cc5803;
        }

        &:hover {
          background-color: #d1722a;
        }
      }

      h2 {
        font-size: 2.5rem;
        margin: 0 0 20px 0;
        color: #e2711d;
      }

      span {
        font-size: 1.2rem;
        margin-bottom: 20px;
      }

      #fa-fold {
        margin-left: 40px;
      }

      h4 {
        font-size: 1.5rem;
        margin: 20px 0;
      }
    }
  }

  @media (max-width: 768px) {
    .Work-Container {
      padding: 30px;

      .drop-card {
        h2 {
          font-size: 2rem;
        }

        span {
          font-size: 1rem;
        }

        #rec-mic {
          font-size: 1rem;
          width: 12rem;
        }

        h4 {
          font-size: 1.2rem;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .Work-Container {
      padding: 20px;

      .drop-card {
        h2 {
          font-size: 1.8rem;
        }

        span {
          font-size: 1rem;
        }

        #rec-mic {
          font-size: 0.9rem;
          width: 10rem;
        }

        h4 {
          font-size: 1rem;
        }
      }
    }
  }
}
