@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
}

.Workline {
  background-image: url('../images/working.png');
  height: 115vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.Work-Container {
  padding: 45em;
  min-width: 100%;
  max-width: 100%;
  background-size: cover;
  position: relative;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.drop-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  bottom: 25rem;
  right: 6rem;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 22rem;
  height: 20rem;
}

.drop-card > h2 {
  color: #ff9b85;
}

.drop-card > span:nth-of-type(1) {
  color: #fff;
}

.drop-card > span:nth-of-type(2) > button {
  color: rgb(255, 255, 255);
  background: #e2711d;
  width: 15rem;
  font-size: 1.3rem;
  border-radius: 1.5rem;
  position: relative;
  line-height: 2;
}

.drop-card > span:nth-of-type(2) > button:focus {
  background: #cc5803;
}

#fa-fold {
  position: absolute;
  right: 1rem;
  align-self: flex-end;
}

.drop-card > h4 {
  color: #fff;
}

#rec-mic {
  color: rgb(255, 255, 255);
  background: #e2711d;
  width: 15rem;
  font-size: 1.3rem;
  border-radius: 1.5rem;
  position: relative;
  line-height: 2;
}

#rec-mic:focus {
  background: #cc5803;
}

#fa-mic {
  position: absolute;
  right: 2rem;
  align-self: flex-end;
}
