@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap');

.custom-link{
  font-family: 'Source Code Pro', monospace;
  cursor: pointer;
  bottom: 0;
  border-radius: 2em;
  transition: transform 0.3s ease-in-out;
  color: rgb(255, 255, 255);
}

.custom-link:hover {
  height: 100%;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translate(-10px,10px);
  background-color: rgb(196, 81, 227);
  color: rgba(15, 14, 14, 0.903);
  font-weight: bold;
}

.custom-link:focus{
  color: rgba(105, 124, 136, 0.903);
}
.custom-link::after{
  color: rgba(0, 0, 0, 0.903);
}

.main-container{
  background-image: url("./images/1.jpg");
  height: auto;
  background-size: cover;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.btn-front{
  color: rgb(255, 255, 255);
  font-family: 'Fragment Mono', monospace;
  font-weight: bold;
  font-size: larger;
  letter-spacing: 2px;
  background-color: rgb(218, 83, 255);
  box-shadow: 5px,5px,10px;
  cursor: pointer;
  bottom: 0;
  border-radius: 2em;
  border-style: none;
  transition: transform 0.4s ease-in-out;
  padding-left: 4em;
  padding-right: 4em;
  height: 50px;
  width:auto;
}

.btn-front:hover{
  transition-timing-function: ease-in-out;
  transform: translate(-10px,10px);
 }

.btn-front:active{
  background-color: rgb(165, 54, 196) ;
}

@keyframes navbar {
  from{
  
  }
}

.Frontline{
  padding: 30em;
  min-width: 100%;
  max-width: 100%;
  background-size: cover;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}



.Helpline{
  background-color: rgb(244, 233, 85);

  text-align: center;
}

.Infoline{
  background-color: rgb(176, 166, 19);
  text-align: center;
}

.Workingline{
  background-color: rgb(198, 188, 48);
  text-align: center;
}

Container{
  color: black;
}

*[id]:before { 
  /* display: block;  */
  content: " "; 
  margin-top: -75px; 
  height: 75px; 
  visibility: hidden; 
}
