
.Navbar{
  background-image: url(https://cdn.pixabay.com/photo/2016/09/08/21/09/piano-1655558__340.jpg);
}

.Frontline{
  background-color: rgb(136, 128, 17);
  color: black;
  text-align: center;
}

.Helpline{
  background-color: rgb(244, 233, 85);

  text-align: center;
}

.Infoline{
  background-color: rgb(176, 166, 19);
  text-align: center;
}

.Workingline{
  background-color: rgb(198, 188, 48);
  text-align: center;
}

Container{
  color: black;
}

*[id]:before { 
  /* display: block;  */
  content: " "; 
  margin-top: -75px; 
  height: 75px; 
  visibility: hidden; 
}
