.custom-link {
  font-family: 'Source Code Pro', monospace;
  cursor: pointer;
  bottom: 0;
  border-radius: 2em;
  transition: transform 0.3s ease-in-out;
  color: rgb(255, 255, 255);
}

.custom-link:hover {
  height: 100%;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translate(-10px, 10px);
  background-color: rgb(196, 81, 227);
  color: rgba(15, 14, 14, 0.903);
  font-weight: bold;
}

.custom-link:focus {
  color: rgba(105, 124, 136, 0.903);
}
.custom-link::after {
  color: rgba(0, 0, 0, 0.903);
}

@keyframes navbar {
  from {
  }
}

.Helpline {
  background-color: rgb(0, 0, 0);

  text-align: center;
}

.Infoline {
  background-color: rgb(33, 31, 10);
  text-align: center;
}

*[id]:before {
  /* display: block;  */
  content: ' ';
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}
